.color-primary-0 { color: #FFDA00 }	/* Main Primary color */
.color-primary-1 { color: #FFF4B6 }
.color-primary-2 { color: #FFDF25 }
.color-primary-3 { color: #E5C400 }
.color-primary-4 { color: #786700 }

.color-secondary-1-0 { color: #FC00C5 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #EEAADF }
.color-secondary-1-2 { color: #F523C7 }
.color-secondary-1-3 { color: #A70082 }
.color-secondary-1-4 { color: #570044 }

.color-secondary-2-0 { color: #017CFC }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #ACCAEA }
.color-secondary-2-2 { color: #3391F2 }
.color-secondary-2-3 { color: #004995 }
.color-secondary-2-4 { color: #00274E }



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Page one bk*/
.bkimg1{
  background-color: #017CFC;
  /*background: url(/img/bk_img.jpg) center no-repeat;*/
  height: 100vh;
  text-align: center;
}

/* Page two bk*/
.bkimg2{
 /* background: url(/img/bk_img1.jpg) center no-repeat;*/
  background-color: #E5C400;
  height: 100vh;
  text-align: center;
}

/* Page three bk*/
.bkimg3{
  /*background: url(/img/bk_img2.jpg) center no-repeat;*/
  background-color: #3391F2;
  height: 100vh;
  text-align: center;
}

/* Page four bk*/
.bkimg4{
  /*background: url(/img/bk_img3.jpg) center no-repeat;*/
  background-color: #FFF4B6;
  height: 100vh;
  text-align: center;
}

/* Container widht*/
.container {
  width: 1024px;
  margin: auto;
}

/* clear fix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Logo top nav*/
.logo{
  height: 35px;
  padding: 4px;
  float:left;
}

.logo1{
  background-image: url(/img/logo1.svg);
}

/* Style the navbar */
#Navbar {
  overflow: hidden;
}

/* Navbar links */
#Navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: azure;
  cursor:pointer;
}

#Navbar a:hover {
  background-color: #004995;
}

.active {
  background-color: #004995;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
